<section class="container flex items-center justify-center">
  <main class="mx-auto my-16 md:max-w-xl">
    <div class="text-center">
      <h1 i18n class="mb-4 text-2xl md:text-4xl">
        👋 Welcome
      </h1>
      <p i18n class="mb-12 text-base md:text-xl">
        ⚒️ internationalization Angular 12 Demo ⚒️
      </p>

      <a i18n class="link" [routerLink]="['/', path.base.dashboard]"
        class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg  hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none">
        Go to dashboard
      </a>
    </div>

    <h3 i18n>Choose a theme</h3>
    <div class="grid grid-cols-2 mb-12 gap-x-6 gap-y-3 md:grid-cols-2">
      <button
        class="inline-flex items-center h-12 px-6 py-3 font-semibold text-center text-white bg-gray-600 rounded-lg  hover:bg-gray-500 focus:ring-4 focus:ring-offset-gray-600 focus:outline-none"
        (click)="onClickChangeTheme(theme.Light)">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-3" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        Light
      </button>
      <button
        class="inline-flex items-center h-12 px-6 py-3 font-semibold text-center text-white bg-gray-600 rounded-lg  hover:bg-gray-500 focus:ring-4 focus:ring-offset-gray-600 focus:outline-none"
        (click)="onClickChangeTheme(theme.Dark)">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-3" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
        Dark
      </button>
    </div>
  </main>
</section>